/* Import Inter from Google Fonts */
@font-face {
	font-family: 'Inter';
	src: url('/fonts/Inter/Inter-VariableFont_opsz,wght.ttf') format('truetype');
	font-weight: 100 900;
	font-style: normal;
	font-display: swap;
  }
  .notes-root{
	background-color: yellow;
  }
  
  

.obsidian-sidebar {
	width: 300px; /* Adjust as needed */
	min-width: 15rem;
	max-width: 15rem; /* Optional */
	background-color: #f5f5f5; /* Example background */
	padding: 1rem;
	box-sizing: border-box;
  }

body {
	font-family: 'Inter', sans-serif;
	font-weight: 400;
	color: #222;
	font-size: 1rem;
}

