---
import WebsiteLayout from "../layouts/WebsiteLayout.astro"
---

<WebsiteLayout>
 <main> 
	Some things about me. 
	<li> I like to read books my reading list with reviews <a href= "/books/have-read"> here </a> </li> 
	<li> my <a href = "/blog">blog</a> is housed on this website as well as a <a href = "/"> public forum</a> where anyone can talk about whatever </li> 

	
</main>
</WebsiteLayout>