---
import Postcard from '../components/PostCard.astro';
import Header from '../components/Header.astro';


const res = await fetch("http://localhost:4321/api/auth/get_posts");
const { posts } = await res.json();
---
<html>
	<body style = "background-color: #fff4ec;">
		<Header/>
<main id="posts-container">
	<script is ="in-line">
		console.log(posts)
	</script>
  {posts.length === 0 ? (
    <p>No posts yet!</p>
  ) : (
    posts.map(post => <Postcard post={post} key={post.id} />)
  )}
</main>

</body>
</html>