---
import Footer from "../components/Footer.astro"
---

<!DOCTYPE html>
<html lang="en">
    <head>
        Like Anything.
    </head>
    
    <body>
        <div class = "Sreekar-div">
        
        <h4>Sreekar is so Handsome.</h4>
            </div>
        <input> Is that true? </input>
        <button onclick = "myFunction()">
            Hi!
        </button>

    
    <style>
        .Sreekar-div{
            padding-left: 100;
            color: brown;
        }
    </style>

    <script>
    function myFunction(){
        window.location.assign("http://localhost:4321/post-editor");
        
    }

    </script>
</body>

</html>

