---
import WebsiteLayout from './WebsiteLayout.astro';
interface Props {
	title: string;
}
const { title } = Astro.props;
---
<WebsiteLayout>
	<div class="container">
		<slot />
	</div>
</WebsiteLayout>
<style>
	.container { max-width: 800px; width:100%;  margin-left: 0rem; padding: 1em; border: 0px solid #ccc; border-radius: 0px; background-color: #fcfcfc; }
	h1 { color: #333; }
	p { line-height: 1.6; }
	small { color: #777; }
</style> 