---
interface Props {
	title: string;
}

const { title } = Astro.props;
---
<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
		<style>
			body { font-family: sans-serif; margin: 2em; }
			.container { max-width: 800px; margin: 0 auto; padding: 1em; border: 1px solid #ccc; border-radius: 8px; }
			h1 { color: #333; }
			p { line-height: 1.6; }
			small { color: #777; }
		</style>
	</head>
	<body>
		<div class="container">
			<slot />
		</div>
	</body>
</html>